<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Parking</title>
    <script crossorigin="anonymous"
        src="https://cdn.maptiler.com/maptiler-sdk-js/v2.0.3/maptiler-sdk.umd.min.js"></script>
    <link crossorigin="anonymous" href="https://cdn.maptiler.com/maptiler-sdk-js/v2.0.3/maptiler-sdk.css"
        rel="stylesheet">
</head>

<body>
    <h2>Parking Lot Details</h2>
    <div>
        <div id="map" style="width: 400px; height: 400px"></div>
        <div>
            Parking Name: <%= parking.name %>
        </div>
        <div>
            Location: <%= parking.location %>
        </div>
        <div>
            Total Slots: <%= parking.totalSlots %>
        </div>
        <div>
            Available Slots: <%= parking.availableSlots %>
        </div>
        <div>
            Open Time: <%= parking.openTime %>
        </div>
        <div>
            Closing Time: <%= parking.closeTime %>
        </div>
        <div id="rate">
            Rate per Hour: ₹<%= parking.rate %>
        </div>
    </div><hr><br>
    <h2>Contact Owner </h2>
    <div>
        <div>
            Name: <%= parking.owner.name %>
        </div>
        <div>
            Phone: <%= parking.owner.phone %>
        </div>
        <div>
            Email: <%= parking.owner.email %>
        </div>
    </div><hr><br>
    <h2>Booking</h2>
    <form action="/parkings/user/<%= parking._id %>" method="post">
        <label for="vehicle">Vehicle type </label>
        <select name="vehicle" id="vehicle" required>
            <option value="" selected disabled>Select One</option>
            <option value="bike">Bike</option>
            <option value="auto">Auto</option>
            <option value="car">Car</option>
        </select>
        <div>
            Money to be paid: Rs <span class="money">0.00</span>
        </div>
        <button> Confirm </button>
    </form>
    <script>
        const select = document.getElementById('vehicle');
        const rate = <%= parking.rate %>;
        // ignore the error in above line, vs code gives errors if ejs used inside js
        const moneyText = document.querySelector('.money');

        select.addEventListener('change', () => {
            let slot;
            const value = select.value;
            if (value === 'car')
                slot = 4;
            else if (value === 'auto')
                slot = 3;
            else
                slot = 2;
            const total = slot * rate;
            moneyText.textContent = total.toFixed(2);
        });
    </script>
    <script>
        const maptilerApiKey = '<%- process.env.MAPTILER_API_KEY %>'
        const parking = <%- JSON.stringify(parking) %>
    </script>
    <script src="/javascripts/showPageMap.js"></script>
</body>

</html>