<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script crossorigin="anonymous"
        src="https://cdn.maptiler.com/maptiler-sdk-js/v2.0.3/maptiler-sdk.umd.min.js"></script>
    <link crossorigin="anonymous" href="https://cdn.maptiler.com/maptiler-sdk-js/v2.0.3/maptiler-sdk.css"
        rel="stylesheet">
</head>
<body>
    <h2>Parking Lot Details</h2>
    <div>
        <div id="map" style="width: 400px; height: 400px"></div>
        <div>
            Parking Name: <%= parking.name %>
        </div>
        <div>
            Owner: <%= parking.owner.name %>
        </div>
        <div>
            Location: <%= parking.location %>
        </div>
        <div>
            Total Slots: <%= parking.totalSlots %>
        </div>
        <div>
            Available Slots: <%= parking.availableSlots %>
        </div>
        <div>
            Open Time: <%= parking.openTime %>
        </div>
        <div>
            Closing Time: <%= parking.closeTime %>
        </div>
        <div id="rate">
            Rate per Hour: ₹<%= parking.rate %>
        </div>
    </div><br>
    <% if(!isAdmin) { %>
        <a href="/parkings/owner/<%= parking._id %>/edit">Update Parking</a>
    <% } %>
    <form action="/parkings/owner/<%= parking._id %>?_method=DELETE" method="POST">
        <button> Delete Parking </button>
    </form> <hr><br>
    <h2> Users of this Parking Lot </h2>
    <% for (const user of parking.users) { %>
        <div>
            Name: <%= user.user.name %>
        </div>
        <div>
            Email: <%= user.user.email %>
        </div>
        <div>
            Phone: <%= user.user.phone %>
        </div>
        <form action="/parkings/owner/<%= parking._id %>/<%= user.user._id %>?_method=DELETE" method="POST">
            <button>Remove User</button>
        </form><br>
    <% } %>
    
    <script>
        const maptilerApiKey = '<%- process.env.MAPTILER_API_KEY %>'
        const parking = <%- JSON.stringify(parking) %>
    </script>
    <script src="/javascripts/showPageMap.js"></script>
</body>
</html>