<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Role</title>
    <script crossorigin="anonymous"
        src="https://cdn.maptiler.com/maptiler-sdk-js/v2.0.3/maptiler-sdk.umd.min.js"></script>
    <link crossorigin="anonymous" href="https://cdn.maptiler.com/maptiler-sdk-js/v2.0.3/maptiler-sdk.css"
        rel="stylesheet">
</head>

<body>
    <% if(currentUser) { %>
        <form action="/parkings" method="post">
            <fieldset>
                <legend>Role:</legend>

                <label>
                    <input type="radio" name="isOwner" value="false" checked>
                    I want to book parking (User)
                </label><br>

                <label>
                    <input type="radio" name="isOwner" value="true">
                    I own parking space (Owner)
                </label>
            </fieldset>
            <button> Submit </button>
        </form>
        <!-- Move logout to navbar -->
        <form action="/logout">
            <button>Logout</button>
        </form>
    <% } else if(!isAdmin){ %>
        <p>To book or lend a parking lot pls login first! </p>
    <% } %>
    <br>
    <h2> Our Parkings </h2>
    <div id="cluster-map" style="width: 600px; height: 400px;"></div>
    <% for (const parking of allParkings) { %>
        <div id="<%= parking.location.toLowerCase().replace(/,/g, '').replace(/\s+/g, '-') %>">
            <div>
                Parking Name: <%= parking.name %>
            </div>
            <div>
                Location: <%= parking.location %>
            </div>
            <div>
                Rate per Slot: ₹<%= parking.rate %>
            </div>
            <% if(typeof isAdmin !== 'undefined' && isAdmin) { %>
                <a href="/parkings/owner/<%= parking._id %>">Details</a>
            <% } %>
        </div><br>
    <% } %> <hr><br>
    <script>
        maptilerApiKey = '<%- process.env.MAPTILER_API_KEY %>'
        const allParkings = {features: <%- JSON.stringify(allParkings) %>}
    </script>
    <script src="/javascripts/clusterMap.js"></script>

</body>

</html>