<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicle Parking</title>
    <script crossorigin="anonymous"
        src="https://cdn.maptiler.com/maptiler-sdk-js/v2.0.3/maptiler-sdk.umd.min.js"></script>
    <link crossorigin="anonymous" href="https://cdn.maptiler.com/maptiler-sdk-js/v2.0.3/maptiler-sdk.css"
        rel="stylesheet">
</head>
<body>
    <h2> User Info </h2>
    <p>Name: <%= currentUser.name %>
    </p>
    <p>Email: <%= currentUser.email %>
    </p>
    <p>Phone: <%= currentUser.phone %>
    </p>
    <hr><br>
    <h2>Booked Parking Lots</h2>
    <% for (const parking of user.parkings) { %>
        <% if(!parking.owner.equals(currentUser._id)) { %>
            <div>
                <div>
                    Parking Name: <%= parking.name %>
                </div>
                <div>
                    Location: <%= parking.location %>
                </div>
                <div>
                    Rate per Slot: ₹<%= parking.rate %>
                </div>
                <form action="/parkings/user/<%= parking._id %>?_method=DELETE" method="POST">
                    <button> Leave Parking </button>
                </form>
            </div><br>
        <% } %>
    <% } %> <hr><br>
    <h2>Available Parking Lots</h2>
    <div id="cluster-map" style="width: 600px; height: 400px;"></div>
    <% for (const parking of allParkings) { %>
        <% if(!parking.owner.equals(currentUser._id)) { %>
        <div id="<%= parking.location.toLowerCase().replace(/,/g, '').replace(/\s+/g, '-') %>">
            <div>
                Parking Name: <%= parking.name %>
            </div>
            <div>
                Location: <%= parking.location %>
            </div>
            <div>
                Rate per Hour: ₹<%= parking.rate %>
            </div>
            <div>
                <a href="/parkings/user/<%= parking._id %>">Book</a>
            </div>
        </div><br>
        <% } %> 
    <% } %> <hr><br>
    <script>
        maptilerApiKey = '<%- process.env.MAPTILER_API_KEY %>'
        const allParkings = {features: <%- JSON.stringify(allParkings) %>}
    </script>
    <script src="/javascripts/clusterMap.js"></script>
</body>
</html>